.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif; /* Specify the default font */
}

#flashcard {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    height: 175px; /* Set the height to auto or a fixed value */
}

#next-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#flashcard p {
    margin-bottom: 10px;
}

#next-btn {
    margin-top: 10px;
}